@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400;500;600;700&family=Indie+Flower&display=swap");
body {
  font-family: "Baloo Tammudu 2", cursive;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: black;
}

button {
  color: white;
}

.nav-link {
  color: white;
  font-size: 1.25rem;
}

.nav-link:hover {
  color: grey;
}

.dropdown-item:hover {
  background-color: grey;
}

.categorias {
  font-family: "Baloo Tammudu 2", cursive;
  font-size: 1.25rem;
  text-align: center;
}

@media (min-width: 576px) {
  .categorias {
    font-family: "Baloo Tammudu 2", cursive;
    font-size: 1.875rem;
    text-align: center;
  }
}
.destacados {
  font-family: "Baloo Tammudu 2", cursive;
  font-size: 1.25rem;
  text-align: center;
  color: fuchsia;
}

@media (min-width: 576px) {
  .destacados {
    font-family: "Baloo Tammudu 2", cursive;
    font-size: 1.875rem;
    text-align: center;
    color: fuchsia;
  }
}
.padre {
  width: 100%;
  background: white;
}

.padre img:hover {
  transform: translate(10px, 20px);
}

.cardinicio {
  width: 19rem;
  padding: 10px;
  margin: 5px;
}

@media (min-width: 576px) {
  .cardinicio {
    width: 24rem;
    padding: 5px;
    margin: 5px;
  }
}
.card-title {
  font-family: "Baloo Tammudu 2", cursive;
  font-size: 1.375rem;
}

.precio {
  font-size: 1.5rem;
  color: grey;
}

#nuestronew {
  font-family: "Baloo Tammudu 2", cursive;
  font-size: 1.375rem;
  color: black;
  background-color: beige;
  margin: 0px auto;
  padding: 10px;
  width: 100%;
  text-align: left;
}

.form-group input:focus {
  box-shadow: none;
  border-color: fuchsia;
  color: black;
}

.modalDialog {
  position: fixed;
  font-family: "Baloo Tammudu 2", cursive;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 99999;
  opacity: 0;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modalDialog:target {
  opacity: 1;
  pointer-events: auto;
}

.modalDialog > div {
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
  background: -o-linear-gradient(#fff, #999);
}

@media (max-width: 576px) {
  .modalDialog > div {
    width: 300px;
  }
}
.closes {
  background: fuchsia;
  color: #fff;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 12px;
  box-shadow: 1px 1px 3px #000;
}

.closes:hover {
  background: grey;
  color: black;
}

.icons {
  background-color: black;
  border-top-color: white;
  color: beige;
  font-size: 1rem;
  font-family: "Baloo Tammudu 2", cursive;
}

.btn-whatsapp {
  display: block;
  width: 70px;
  height: 70px;
  position: fixed;
  right: 20px;
  bottom: 40px;
  border-radius: 50%;
  line-height: 80px;
  text-align: center;
  z-index: 999;
  cursor: pointer;
}

.btn-whatsapp:hover {
  transform: translateY(-3px) scale(1.05);
}

.boton {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: black;
  background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}
.boton:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}
.boton:hover {
  background-color: grey;
}

.buzo {
  font-family: "Baloo Tammudu 2", cursive;
  font-weight: 600;
  font-style: normal;
  font-size: 1.875rem;
  text-align: center;
}

.productotio {
  width: 100%;
  background: white;
}

.productotio img:hover {
  transform: translate(10px, 20px);
}

.rem {
  font-family: "Baloo Tammudu 2", cursive;
  font-weight: 600;
  font-style: normal;
  font-size: 1.875rem;
  text-align: center;
}

.productosobrina {
  width: 100%;
  background: white;
}

.productosobrina img:hover {
  transform: translate(10px, 20px);
}

.calzas {
  font-family: "Baloo Tammudu 2", cursive;
  font-weight: 600;
  font-style: normal;
  font-size: 1.875rem;
  text-align: center;
}

.productonieta {
  width: 100%;
  background: white;
}

.productonieta img:hover {
  transform: translate(10px, 20px);
}

.mochi {
  font-family: "Baloo Tammudu 2", cursive;
  font-weight: 600;
  font-style: normal;
  font-size: 1.875rem;
  text-align: center;
}

.productopadre {
  width: 100%;
  background: white;
}

.productopadre img:hover {
  transform: translate(10px, 20px);
}

.otros {
  font-family: "Baloo Tammudu 2", cursive;
  font-weight: 600;
  font-style: normal;
  font-size: 1.875rem;
  text-align: center;
}

.productotia {
  width: 100%;
  background: white;
}

.productotia img:hover {
  transform: translate(10px, 20px);
}

.precio {
  font-size: 1.5rem;
  color: grey;
}

.prod {
  font-family: "Baloo Tammudu 2", cursive;
  font-size: 1.5rem;
  color: black;
}

@media (min-width: 576px) {
  .prod {
    font-family: "Baloo Tammudu 2", cursive;
    font-size: 2rem;
    color: black;
  }
}
.regal {
  font-family: "Baloo Tammudu 2", cursive;
  font-weight: 600;
  font-style: normal;
  font-size: 1.375rem;
  text-align: center;
}

@media (min-width: 576px) {
  .regal {
    font-family: "Baloo Tammudu 2", cursive;
    font-weight: 600;
    font-style: normal;
    font-size: 2.5rem;
    text-align: center;
  }
}
.estilo {
  font-family: "Baloo Tammudu 2", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 1.25rem;
}

@media (min-width: 576px) {
  .estilo {
    font-family: "Baloo Tammudu 2", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 1.625rem;
  }
}
.card {
  max-width: 500px;
  max-height: 400px;
  padding: 10px;
  margin: 10px;
}

@media (min-width: 576px) {
  .card {
    max-width: 600px;
    max-height: 400px;
    padding: 10px;
    margin: 10px;
  }
}
.tab {
  font-family: "Indie Flower", cursive;
  font-weight: 600;
  font-size: 1.25rem;
  text-align: center;
}

@media (min-width: 576px) {
  .tab {
    font-family: "Indie Flower", cursive;
    font-weight: 600;
    font-size: 1.625rem;
    text-align: center;
  }
}
.card-text {
  color: grey;
  font-size: 1.25rem;
}

@media (min-width: 576px) {
  .card-text {
    color: grey;
    font-size: 1.5rem;
  }
}
.pregunt {
  font-family: "Baloo Tammudu 2", cursive;
  font-weight: 600;
  font-style: normal;
  font-size: 1.25rem;
}

@media (min-width: 576px) {
  .pregunt {
    font-family: "Baloo Tammudu 2", cursive;
    font-weight: 600;
    font-style: normal;
    font-size: 1.625rem;
  }
}
.tamaño {
  font-family: "Baloo Tammudu 2", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 1.125rem;
}

@media (min-width: 576px) {
  .tamaño {
    font-family: "Baloo Tammudu 2", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 1.625rem;
  }
}
.conta {
  font-family: "Baloo Tammudu 2", cursive;
  font-weight: 600;
  font-style: normal;
  font-size: 1.375rem;
  text-align: center;
}

@media (min-width: 576px) {
  .conta {
    font-family: "Baloo Tammudu 2", cursive;
    font-weight: 600;
    font-style: normal;
    font-size: 1.875rem;
    text-align: center;
  }
}
.aldanayfernando {
  background: white;
}

.aldi {
  margin: 10px;
  width: 600px;
  flex-grow: 3;
  order: 2;
  overflow: hidden;
}

.fer {
  align-self: center;
  font-family: "Indie Flower", cursive;
  font-weight: 600;
  font-size: 1.25rem;
  margin: 10px;
  padding: 10px;
  width: 600px;
  flex-grow: 7;
  order: 1;
}

.carritoo input:focus {
  box-shadow: none;
  border-color: fuchsia;
  color: black;
}

.carritoo select:focus {
  box-shadow: none;
  border-color: fuchsia;
  color: black;
}

.custom-control-input input[type=radio] {
  height: 15px;
  width: 15px;
  background-color: #d5d5d5;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-control-input input[type=radio]:after {
  font-family: "font awesome 5 free";
  font-weight: 900;
  content: "";
  font-size: 15px;
  color: white;
  display: none;
}

.custom-control-input input[type=radio]:hover {
  background-color: #a5a5a5;
}

.custom-control-input input[type=radio]:checked {
  background-color: fuchsia;
}

.custom-control-input input[type=radio]:checked:after {
  display: block;
}

.tamaño {
  font-family: "Baloo Tammudu 2", cursive;
  font-weight: 600;
  font-size: 1.5 rem;
  color: black;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
  box-shadow: none;
  border-color: fuchsia;
  color: black;
}

.form-signin input[type=email] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type=password] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

input[type=checkbox] {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  background-color: #d5d5d5;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type=checkbox]:after {
  font-family: "font awesome 5 free";
  font-weight: 900;
  content: "";
  font-size: 13px;
  color: white;
  display: none;
}

input[type=checkbox]:hover {
  background-color: #a5a5a5;
}

input[type=checkbox]:checked {
  background-color: fuchsia;
}

input[type=checkbox]:checked:after {
  display: block;
}/*# sourceMappingURL=estilos.css.map */