body{
	font-family: $fuente;
	font-weight: $fuente-regular;
}
*{
	margin: 0;
	padding: 0;
}
.navbar{
	background-color: $fondo;
}
button{
	color: $teciario;
}
.nav-link{
    color: $teciario;
    font-size: 1.25rem;
}
.nav-link:hover{
	color: $fondo-terciario;
}    
.dropdown-item:hover{
	background-color: $fondo-terciario;
}
.categorias{
	font-family: $fuente;
	font-size: 1.25rem;
	text-align: center;
}
@media (min-width: 576px){
	.categorias{
		font-family: $fuente;
		font-size: 1.875rem;
		text-align: center;
	}
}
.destacados{
	font-family: $fuente;
	font-size: 1.25rem;
	text-align: center;
	color: $texto-secuandario;
}
@media (min-width: 576px){
	.destacados{
		font-family: $fuente;
		font-size: 1.875rem;
		text-align: center;
		color: $texto-secuandario;
	}
}
.padre{
	width: 100%;
	background: $teciario;
}
.padre img:hover{
	transform: translate(10px, 20px);
}    
.cardinicio{
    width: 19rem;
    padding: 10px;
    margin: 5px;
}
@media (min-width: 576px){
	.cardinicio{
		width: 24rem;
		padding: 5px;
		margin: 5px;
	}
}	    
.card-title{
    font-family: $fuente;
    font-size: 1.375rem;
}
.precio{
    font-size: 1.5rem;
    color: $fondo-terciario;
}
#nuestronew{
	font-family: $fuente;
	font-size: 1.375rem;
	color: $primario;
	background-color: $fondo-secuandario;
	margin: 0px auto;
	padding: 10px;
	width: 100%;
	text-align: left;
}
.form-group input:focus{
	box-shadow: none;
	border-color: $texto-secuandario;
	color: $primario;
}
.modalDialog {
    position: fixed;
    font-family: $fuente;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $colorboton5;
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}
.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: $colorboton;
    background: -moz-linear-gradient($colorboton, $colorbotone);
    background: -webkit-linear-gradient($colorboton, $colorbotone);
    background: -o-linear-gradient($colorboton, $colorbotone);
}
@media (max-width: 576px){
    .modalDialog > div {
        width: 300px;
    }
}
.closes {
    background: $texto-secuandario;
    color: $colorboton;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px $colorboto;
    -webkit-box-shadow: 1px 1px 3px $colorboto;
    box-shadow: 1px 1px 3px $colorboto;
}
.closes:hover { 
    background: $fondo-terciario; 
    color: $primario;
}
.icons{
	background-color: $primario;
	border-top-color: $teciario;
	color:$fondo-secuandario;
	font-size: 1rem;
	font-family: $fuente;

}
.btn-whatsapp {
    display:block;
    width:70px;
    height:70px;
    position: fixed;
    right:20px;
    bottom:40px;
    border-radius:50%;
    line-height:80px;
    text-align:center;
    z-index:999;
	cursor: pointer;
       
}
.btn-whatsapp:hover{
	transform: translateY(-3px) scale(1.05);
}