@mixin boton {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: $colorboton;
    text-shadow: 1px 1px 1px $colorboto;
    border-radius: 10px;
    background-color: $primario;
    background-image: linear-gradient(to top left,
                                      $colorboton2,
                                      $colorboton2 30%,
                                      $colorboton3);
    box-shadow: inset 2px 2px 3px $colorboton4,
                inset -2px -2px 3px $colorboton5;
}
.boton {
    @include boton;
    &:active {
        box-shadow: inset -2px -2px 3px $colorboton4,
                    inset 2px 2px 3px $colorboton5,
    }
    &:hover {
        background-color: $fondo-terciario;
    }
}
.modalDialog {
    position: fixed;
    font-family: $fuente;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $colorboton5;
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}
.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: $colorboton;
    background: -moz-linear-gradient($colorboton, $colorbotone);
    background: -webkit-linear-gradient($colorboton, $colorbotone);
    background: -o-linear-gradient($colorboton, $colorbotone);
}
.closes {
    background: $texto-secuandario;
    color: $colorboton;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px $colorboto;
    -webkit-box-shadow: 1px 1px 3px $colorboto;
    box-shadow: 1px 1px 3px $colorboto;
}
.closes:hover { 
    background: $fondo-terciario; 
    color: $primario;
}
