.pregunt{
	font-family: $fuente;
	font-weight: 600;
    font-style: normal;
	font-size: 1.625rem;
}
.tamaño{
	font-family: $fuente;
	font-weight: $fuente-regular;
	font-style: normal;
	font-size: 1.625rem;
}
.conta{
	font-family: $fuente;
	font-weight: $fuente-semi-bold;
	font-style: normal;
	font-size: 1.875rem;
	text-align: center;
}