.buzo{
	font-family: $fuente;
	font-weight: $fuente-semi-bold;
	font-style: normal;
	font-size: 1.875rem;
	text-align: center;
}
.productotio{
	width: 100%;
	background: $teciario;
}
.productotio img:hover{
	transform: translate(10px, 20px);
}
.rem{
	font-family: $fuente;
	font-weight: $fuente-semi-bold;
	font-style: normal;
	font-size: 1.875rem;
	text-align: center;
}
.productosobrina{
	width: 100%;
	background: $teciario;
}
.productosobrina img:hover{
	transform: translate(10px, 20px);
}
.calzas{
    font-family: $fuente;
	font-weight: $fuente-semi-bold;
	font-style: normal;
	font-size: 1.875rem;
	text-align: center;
}
.productonieta{
    width: 100%;
	background: $teciario;
}
.productonieta img:hover{
	transform: translate(10px, 20px);

}
.mochi{
	font-family: $fuente;
	font-weight: $fuente-semi-bold;
	font-style: normal;
	font-size: 1.875rem;
	text-align: center;
}
.productopadre{
    width: 100%;
	background: $teciario;
}
.productopadre img:hover{
	transform: translate(10px, 20px);
}
.otros{
    font-family: $fuente;
	font-weight: $fuente-semi-bold;
	font-style: normal;
	font-size: 1.875rem;
	text-align: center;
}
.productotia{
    width: 100%;
	background: $teciario;

}
.productotia img:hover{
	transform: translate(10px, 20px);
}
.precio{
	font-size: 1.5rem;
	color: $fondo-terciario;
}
.prod{
	font-family: $fuente;
	font-size: 2rem;
	color: $primario;
}