$primario: black;
$secundario: pink;
$teciario: white;
$fondo: black;
$fondo-secuandario: beige;
$fondo-terciario: grey;
$fondo-cuartenario:#eee;
$texto: black;
$texto-secuandario: fuchsia;
$texto-terciario: white;
$texto-cuartenario:beige;
$colorboto: #000;
$colorboton: #fff;
$colorboton2: rgba(0, 0, 0, .2);
$colorboton3: rgba(0, 0, 0, 0);
$colorboton4:rgba(255, 255, 255, .6);
$colorboton5: rgba(0, 0, 0, .6);
$fuente:'Baloo Tammudu 2', cursive;
$fuente2: 'Indie Flower', cursive;
$fuente-regular:400;
$fuente-medium:500;
$fuente-semi-bold:600;
$fuente-bold:700;